.lmao {
  border-right: 1px solid #e2eafa;
  border-bottom: 1px solid #e2eafa;
  /* background-color: yellow; */
}
.lmaoz {
  border-right: 1px solid #e2eafa;
  /* border-bottom: 1px solid #e2eafa; */
  /* background-color: yellow; */
}
.lmaos {
  /* border-right: 1px solid #e2eafa; */
  /* border-bottom: 1px solid #e2eafa; */
  outline: 1px solid #e2eafa;
  /* background-color: yellow; */
}
.lmaox {
  border-right: none;
  border-bottom: 1px solid #e2eafa;
  /* background-color: yellow; */
}

.lamo {
  overflow-y: scroll;
  height: 69.8vh;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.5);
  scrollbar-width: initial;
  border-radius: 20px;
  scroll-margin: 20px;
}

.scroller {
  overflow: hidden;
  border-radius: 20px;
}
