.layout {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e0e0e0;
}

.scrollbar {
  scrollbar-color: rgba(177, 177, 177, 0.2) rgba(255, 255, 255, 0.5);
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge lama */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge baru */
}
